
.Todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #095C76;
    color: #ffffff;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    cursor: pointer;
}


.fa-trash {
    margin-left: 0.75rem;
}

.completed {
    color: #269cc0;
    text-decoration: line-through;
  }
  