.TodoForm {
    width: 100%;
    margin-bottom: 1rem;
}
  
.todo-input {
    outline: none;
    background: none;
    border: 1px solid #095C76;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 300px;
    color: #095C76;
    border-radius: 5px;
}
  
.todo-input::placeholder {
    color: #095C76;
}
  
.todo-btn {
    background: #095C76;
    color: #ffffff;
    border: none;
    padding: 0.55rem;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 0.75rem;
}
