.TodoWrapper {
    background: #FFFFFF;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 10px;
}

h1 {
  color: #095C76;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

@media (max-width: 768px) {
  .TodoWrapper {
    padding: 1rem; 
    width: 100%;
  }
}